.create-project-button {
    background-color: #cfe2ff; 
    font-size: 20px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.create-project-button:hover {
    background-color: #cfe2ff; 
    text-decoration: none;
}
.create-project-button a{
	 text-decoration: none;
	  color: black;
}